/*-- scss:defaults --*/

$font-family-sans-serif: "Lato-BoldItalic";
$body-bg: #102C68;
$body-color: #e5e5e5;

/*-- scss:rules --*/

.reveal .headers h2 {
  color: #102C68;
  text-align: center;
}

.reveal .headers h3 {
  color: #AFCA0A;
  text-align: center;
}

.reveal .tema1 {
  background-color: #fff;
  border-top-width: 10px;
  border-top-style: solid;
  padding-top: 10px;
  border-color: #3B0F70;
}
