/*-- scss:defaults --*/

$font-family-sans-serif: Yaldevi,Lato;
$body-bg: #233262;
$body-color: #e5e5e5;
$text-weight: 900;

/*-- scss:rules --*/

<<<<<<< HEAD
.center {
  text-align: center;
}

.center-position {
  margin: auto;
  width: 100%;
  padding: 10px;
}

=======
>>>>>>> 8ec8e6d2d24c87f0726bd1f4a9101add65196e66
.center-middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.left-middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.left-bottom {
  float: left;
  width: 25%;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.right-middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pull-right2 {
  float: right;
  width: 200%;
}

.pull-left2 {
  float: left;
  width: 75%;
}

.reveal .headers h2 {
  color: #535692;
  font-weight: 800;
  text-align: left;
}

.reveal .headersh3 {
  color: #535692;
  $bold-weight: 700;
  text-align: left;
}

.reveal .topics-page {
  background-color: #233262;
  border-left: 30px;
  border-left-style: solid;
  border-left-color:#b0e4af;
  font-size: 40px;
}

.reveal .normal-page {
  background-color: #fff;
  border-block-end: 30px;
  border-block-end-style:solid;
  border-block-end-color:#233262;
  font-size:28px;
  color:#535692;

}

.reveal .normal-page-img {
  background-color: #fff;
  border-left-style: solid;
  border-left-width: 180px;
  border-left-color:#233262;
  font-size:28px;
  color:#535692;

}

.logo {
    background-image: url(slides/img/logo-abj-colorido.png) ;
    background-size: contain;
    background-position: end;
    width: auto;
    height: 50px;
  }

.reveal .citations-page {
  background-color: #fff;
  border-top-width: 20px;
  border-top-style: solid;
  padding-top: 10px;
  border-color: #535692;
}

.striped tr:nth-child(even) { background: #eee; }

